:root {
    --primary-color: #3f51b5;
    --second-color: #7c43bd;
}

.course-home .course-item {
    position: relative;
    margin: 9px;
    color: #566375;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    background-color: #fff;
    height: 200px;
    border: none;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    user-select: none;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 19px rgba(0, 0, 0, 0.3), 0 0 9px rgba(0, 0, 0, 0.2);
        background: var(--primary-color);
        color: #eee;
        .item-name {
            height: 100px;
        }
    }
    .item-background {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
    }
    .item-name {
        height: 50px;
        text-align: center;
        line-height: 46px;
        vertical-align: middle;
        border-top: 2px solid var(--primary-color);
        border-image-slice: 20;
        padding: 0 9px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.course-home .activity-personal {
    margin: 9px;
    padding: 9px 15px;
    border-radius: 12px;
    background-color: #fff;
    color: #566375;
    &::after {
        position: absolute;
        margin-top: -14px;
        top: 6px;
        bottom: 4px;
        left: 20px;
        right: 20px;
        background-color: var(--primary-color);
        background-image: linear-gradient(to top, var(--second-color), var(--primary-color));
        ;
        content: '';
        z-index: -1;
        border-radius: 12px;
        box-shadow: 0 9px 12px rgba(0, 0, 0, 0.1), 0 0 9px rgba(0, 0, 0, 0.1);
    }
    h5 {
        font-weight: 700;
    }
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        margin: auto;
        box-shadow: 0px 0px 3px #ccc;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .infomation {
        text-align: center;
        span {
            display: block;
            margin-top: 9px;
            padding: 6px 9px;
            background-color: #f2f7f9;
            border-radius: 14px;
        }
        span.bio {
            text-align: left;
            font-style: italic;
        }
    }
}

/**
Plan Lesson
**/

#home+#lesson-display {
    background: #ff1022 !important;
}

.plan-lesson {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0f1022;
    #nav-lesson.activeMenu {
        width: 50px;
        #home {
            display: none;
        }
        .logo {
            width: 50px;
            height: 50px;
            margin: 0;
        }
        h6,
        .title,
        #road {
            display: none;
        }
        #nav-action {
            padding: 0;
            span {
                width: 50px;
                height: 50px;
                margin: 0;
                padding: 0;
                border-radius: 0;
                background: rgba(255, 255, 255, 0.2);
                color: #ccc;
                display: block;
                line-height: 50px;
            }
            #home {
                float: none;
            }
            #nav-btn {
                font-size: 1.25em;
                transform: scaleX(-1);
                float: none;
            }
        }
    }
    #nav-lesson {
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        color: #eee;
        font-weight: 300;
        background: #0f1022;
        text-align: center; // transition: 0.25s ease-in-out;
        .logo {
            width: 100px;
            height: 100px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            display: block;
            margin: auto;
            margin-bottom: 6px;
            margin-top: 50px;
        }
        h6 {
            margin: 0;
            color: #ddd;
        }
        .title {
            font-size: 18px;
            padding:6px;
        }
        #player-btn {
            display: block;
            span {
                height: 25px;
                width: 25px;
                border-radius: 1000px;
                background: rgba(238, 238, 238, 0.9);
                color: #0f1022;
                line-height: 25px;
                display: inline-block;
                cursor: pointer;
                margin: 6px;
            }
        }
        #nav-action {
            padding: 6px 9px;
            #home {
                float: left;
            }
            #nav-btn {
                float: right;
                font-size: 18px;
            }
            #menu-bar {
                display: none;
            }
            span {
                display: block;
                height: 30px;
                width: 30px;
                line-height: 30px;
                vertical-align: middle;
                border-radius: 1000px;
                color: #0f1022;
                background: #eee;
                cursor: pointer;
            }
        }
        #road {
            text-align: left; // position: absolute;
            width: 100%; // bottom: 0;
            // top: 260px;
            padding: 6px;
            overflow: auto;
            .unit-tilte {
                font-weight: 600;
                opacity: 0.7;
                border-bottom: 1px solid #eee;
            }
        }
        ul {
            padding: 0 1em !important;
            list-style: none;
            li {
                padding: 6px 2px;
                color: #eee;
            }
            li:hover {
                padding: 6px 2px;
                color: #eee;
                text-decoration: underline;
            }
            li::before {
                content: "";
                position: relative;
                left: -10px;
                top: -3px;
                background-color: var(--primary-color);
                border-radius: 100px;
                display: inline-block;
                width: 7px;
                height: 7px;
            }
        }
    }
    #lesson-display.expand {
        left: 50px;
        #video {
            height: calc(0.5625*(100vw - 50px));
        }
    }
    #lesson-display {
        transition: 0.25s ease-in-out;
        position: fixed;
        left: 300px;
        top: 0;
        bottom: 0;
        right: 0;
        background: #272a43;
        overflow: auto;
        #video {
            max-height: 100vh;
            height: calc(0.5625*(100vw - 300px));
        }
        .desc {
            color: #fff;
            padding: 9px;
            padding-bottom: 0;
            h5 {
                padding: 6px 0;
                font-weight: 700;
                margin: 0;
            }
            p {
                margin: 0;
                padding-top: 3px;
                margin-top: 3px;
                font-weight: 100;
                border-top: 1px solid #0f0f225b;
            }
            p * {
                font-weight: 100 !important;
            }
        }
        .videoplayer {
            height: 100%;
            overflow: auto;
        }
        #docviewer {
            height: 100%;
            overflow: auto;
            background: #fbfbfb;
            padding: 9px 20px;
            ul {
                margin-left: 16px;
            }
        }
        .loading.hidden {
            opacity: 0;
            visibility: hidden;
        }
        .loading {
            visibility: visible;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #272a43;
            z-index: 1000;
            transition: 0.25s;
            .lds-ripple {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        #comment-list {
            position: relative;
            padding: 6px 9px;
            .comment-item {
                padding: 6px 0; // background: #141236;
            }
            .comment-content {
                // width: calc(100% - 54px);
                width: fit-content;
                margin-left: 54px;
                border-radius: 20px;
                background-color: #fff;
                padding: 9px;
            }
        }
        .comment-avt {
            display: inline-block;
            float: left;
            height: 45px;
            width: 45px;
            border-radius: 100%;
            background-color: #fff;
            background-size: cover;
            background-position: center;
        }
        #comment-input {
            position: relative;
            background: none;
            height: 45px;
            margin: 16px 0;
            button {
                position: absolute;
                right: 9px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                height: 45px;
                width: 45px;
                border-radius: 100%;
                border: none;
                outline: none;
                box-shadow: -1px -1px 9px rgba(51, 68, 85, 0.3);
                background-color: var(--primary-color);
                background-image: linear-gradient(var(--second-color), var(--primary-color));
                color: #fff;
                transition: 0.25s;
            }
            button:hover {
                box-shadow: 0px 0px 14px rgba(51, 68, 85, 0.7);
            }
            button.btn-cmt {
                font-size: 24px;
                left: 9px;
                background-color: #fff;
                background-size: cover;
                color: var(--primary-color);
            }
            .input {
                position: absolute;
                right: 65px;
                left: 59px;
                height: 45px;
            }
            input {
                width: 100%;
                height: 100%;
                padding: 9px 12px;
                background: none;
                border: none;
                border-radius: 100px;
                background: #fff;
                box-shadow: -1px -1px 9px rgba(51, 68, 85, 0.3);
            }
        }
    }
}

.modal-popup {
    position: fixed;
    padding: 9px 16px;
    padding-top: 20px;
    width: 640px;
    max-width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #0f1022;
    color: #fbfbfb;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5), 1px 1px 7px rgba(51, 68, 85, 0.3);
    border-radius: 9px;
    z-index: 20;
    * {
        font-weight: 400;
    }
    b {
        font-weight: 700;
    }
    .close-btn {
        font-weight: 900;
        cursor: pointer;
        float: right;
    }
}

@media only screen and (min-width: 768px) {
    .plan-lesson {
        #nav-lesson.activeMenu {
            #player-btn {
                position: absolute;
                bottom: 0px;
                span {
                    display: block;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    border-radius: 0;
                    background: rgba(255, 255, 255, 0.2);
                    color: rgb(204, 204, 204);
                    margin: 0;
                }
                #info {
                    // float:right;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .plan-lesson {
        #nav-lesson,
        #nav-lesson.activeMenu {
            top: 0;
            left: 0;
            right: 0;
            bottom: calc(100% - 50px);
            width: auto;
            z-index: 2;
            overflow: hidden;
            transition: 0.25s;
            .logo {
                left: 0;
                top: 0;
                height: 50px;
                width: 50px;
                margin: 0;
                position: absolute;
                display: none;
            }
            .title {
                position: absolute;
                top: 25px;
                left: 52px;
                right: 52px;
                transform: translateY(-50%);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                font-size:1em;
            }
            h6 {
                display: none;
            }
            #road {
                position: absolute;
                top: 100px;
            }
            #player-btn {
                position: absolute;
                bottom: 50px;
                span {
                    position: fixed;
                    bottom: 100vh;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    border-radius: 0;
                    background: rgba(255, 255, 255, 0.2);
                    color: rgb(204, 204, 204);
                    margin: 0;
                    transition: 0.25s;
                }
                #info {
                    position: fixed;
                    left: 50px;
                    right: 50px;
                    width: auto;
                    border-left: 1px solid rgba(255, 255, 255, 0.1);
                    border-right: 1px solid rgba(255, 255, 255, 0.1);
                }
                span:nth-child(3) {
                    right: 0px;
                }
            }
            #nav-action {
                span {
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 0;
                    height: 50px;
                }
                #home {
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 50px;
                    width: 50px;
                    display: block;
                    line-height: 50px;
                    color: #fff;
                }
                #nav-btn {
                    display: none;
                }
                #menu-bar {
                    display: block;
                    position: absolute;
                    right: 0;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    vertical-align: middle;
                    top: 0;
                    border-radius: 0;
                    color: #eee;
                    background: none;
                    transition: 0.25s;
                }
            }
        }
        #nav-lesson.activeMenu {
            bottom: 0;
            .logo {
                display: block;
            }
            #player-btn {
                span {
                    bottom: 0;
                    opacity: 1;
                }
            }
            #nav-action {
                #home {
                    display: none;
                }
                #menu-bar {
                    text-shadow: 0 0 3px rgb(0, 101, 184);
                    transform: rotate(180deg) scale(1.1);
                }
            }
            #road {
                display: block;
                top: 50px;
                bottom: 50px;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                .unit-tilte {
                    display: block;
                    border: none;
                    background: rgba(255, 255, 255, 0.1);
                    padding: 6px;
                }
            }
        }
        #lesson-display,
        #nav-lesson.expand {
            left: 0 !important;
            top: 50px;
            #video {
                max-height: 100vh;
                height: calc(0.5625*(100vw)) !important;
            }
        }
    }
}

@keyframes open-popup {
    from {
        max-height: 0;
    }
    to {
        max-height: 100%;
    }
}

@keyframes fade {
    from {
        display: block;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: block;
    }
}

// #team-page.fadeOut{
//     display:block;
// }
#team-page.fadeOut {
    visibility: hidden;
    opacity: 0;
    #team-modal {
        max-height: 0%;
    }
}

#team-page.fadeIn {
    visibility: visible;
    opacity: 1;
    #team-modal {
        max-height: 90%;
    }
}

#team-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    visibility: hidden;
    transition: 0.25s;
    background: rgba(0, 0, 0, 0.3);
    #team-modal {
        border-radius: 6px;
        background: #fff;
        overflow: hidden;
        position: fixed;
        width: 500px;
        max-width: 90%;
        z-index: 1;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        max-height: 0;
        transition: 0.25s;
    }
    .table {
        width: 100%;
        max-height: 70vh;
        margin: 0;
        overflow: auto;
        table.list-user {
            width: 100%;
            height: 100%;
            tr+tr {
                border-top: 1px solid #eee;
            }
            th {
                background: #eee;
            }
            tr.leader {
                color: var(--primary-color);
            }
            td,
            th {
                padding: 6px 16px;
            }
        }
    }
}

.modal-close {
    float: right;
    height: 100%;
    line-height: 1.5;
    display: block;
    opacity: 0.5;
    transition: 0.25s;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.body-page {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    .row {
        margin-bottom: 20px;
    }
}